.email-signup-container { 
  height: 50vh;
  width: 100vw;
  // background: url('../../images/light-streak.jpg')
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-signup-information {
  .email-signup-form {
    background: #fff;
    width: 30%;
    height: 15%;
  }
  .email-signup-button {
    display: block;
    color: darkorchid;
    border-color: darkorchid;
    width: 40%;
    margin-top: 1vh;
    margin: 1vh auto;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  background: black;
  opacity: .8;
  height: 80%;
  width: 60%;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .email-signup-information {
    .email-signup-form {
      width: 90%;
    }
    height: 90%;
    width: 95%;
  }

}