.registration-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.class-registration-picture {
  // background: url('../../images/dancin-styles-class2.JPG') no-repeat center center; // background doesn't work
  // background-size: cover;
  height: 100vh;
  width: 50%;
}
.class-registration-text {
  h2,
  p {
    color: #fff;
    text-align: center;
  }
  .registration-button {
    background-color: darkorchid;
    color: #fff;
    width: 10vw;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 50%
}

@media only screen and (max-width: 768px) {
  .registration-container {
    flex-direction: column;
  }
  .class-registration-picture {
    width: 100vw;
  }
  .class-registration-text {
    .registration-button {
      width: 45%;
      margin-bottom: 2vh;
    }
    width: 100%;
  }
}